<% @sidebar = true %>

<div class="hero-unit">
	<div class="pull-left well span4">
			<%= image_tag asset_path("about_image.jpg"), width: 200, height: 200 %>
			<footer>Me and Qualcomm CEO Paul Jacobs</footer>
	</div>
	<div class="pagination-centered">
		Hello Everyone.  I am currently a Junior at Carnegie Mellon University studying Electrical & Computer Engineer with plans on graduating in May 2015.  I have had brentstrysko.com for some time now, however recently I decided to call it quits on my old wordpress site and create this new site.  Back in the days of my high school career it was acceptable even though I could do better but now I have no excuse.  I like to hack together anything and everything.  Because of this I am really big on robotics due to its all encompassing nature.  Check out my resume for more information.
	</div>
</div>
