<% @sidebar = true %>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <div id="hero-unit">
        <fieldset>
          <legend><%= link_to post.title, post %></legend>
          <div class="well">
            <%= truncate(post.content.html_safe, :length => 80) %>
          </div>

          <% if signed_in? %>
          <div class="pull-right well">
            <%= link_to 'Edit', edit_post_path(post) %> |
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
          <% end %>
        
        </fieldset>
        <hr />
      </div>
    <% end %>
  </tbody>
</table>

<br>