<div class="navbar navbar-fixed-bottom">
	<div class="navbar-inner">
		<hr />
		<div class="row-fluid">
			<div class="span9">
				<% @profiles.each do |profile| %>
  			| <%= link_to profile.url, target: "_blank" do %>
  					<i class="icon-<%= profile.name %>"></i> <%= profile.name.titleize %>
  				<% end %>
 				<% end %>
			</div>
			<div class="pull-right">
				<footer>
					<p>&copy; Designed and Created by <%= link_to "Brent Strysko", "http://www.brentstrysko.com", target: "_blank" %>
					</p>
				</footer>
			</div>
		</div>
	</div>
</div>
